@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
}

button {
  cursor: pointer;
  background-position: center;
  transition: background 0.4s;
}
button:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
button:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.Header {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #E5E5E5;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LogoHeader {
  font-size: 28px;
  color: #056e97;
}

.Header ul {
  list-style: none;
  display: flex;
}

.Header ul li {
  color: #000;
  margin: 25px;
}

.Header ul li[class="Blue"] {
  color: #00b7ff;
  text-decoration: underline;
}

.Trial {
  background: #0059ff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  color: #fff;
}

.HeroContainer {
  display: flex;
  align-items: center;
  min-height: 550px;
  background: url('../public/images/first-bg_1.jpg') center/cover;
}

.Text {
  font-size: 18px;
  color: #848484;
  margin-left: 160px;
}

.Text p {
  margin: 18px 0;
}

.Smarter {
  color: #000;
  font-family: 'Open sans';
  font-size: 30px;
}

.HeroTrialButton {
  background: #0059ff;
  border: none;
  border-radius: 4px;
  padding: 20px 40px;
  color: #fff;
}

.sslContainer {
  display: flex;
  align-items: center;
}

.ssl {
  font-size: 12px;
  text-transform: uppercase;
}

.SectionService {
  margin-top: 70px;
}

.Lionic {
  color: #848484;
}

.TextServices {
  color: #000;
  font-family: 'Open sans';
  font-size: 40px;
}

.sectionHeader {
  text-align: center;
}

.ServiceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  min-height: 700px;
  border-bottom: 1px solid #E5E5E5;
}

.sectionCards img {
  margin: 30px;
}

.sectionCards h3 {
  margin: 10px;
}
.sectionCards {
  margin: 20px;
  max-width: 270px;
  max-height: 485px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 70px 24px;
  border-radius: 4px;
  font-family: sans-serif;
  border: 1px solid #E5E5E5;
  transition: 0.2s;
}

.sectionCards:hover {
  box-shadow: 0px 5px 10px 0px rgba(41, 41, 41, 0.5);
  transform: translateY(-10px);
}


.ArticleContainer {
  display: flex;
  justify-content: center;
}

.ArticlesCards h3 {
  margin-bottom: 10px;
}

.time {
  font-family: sans-serif;
  font-size: 12px;
  color: #848484;
}

.SectionArticles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ArticleContainer {
  display: flex;
  width: 1170px;
  align-items: center;
  height: 567px;
}

.ArticleItemProps h3 {
  margin-bottom: 10px;
}

.time {
  font-family: sans-serif;
  font-size: 12px;
  color: #848484;
}

.ArticlesItems {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  height: 180px;
}

.ArticleItemProps {
  flex-wrap: wrap;
  display: flex;
  padding: 24px;
  flex-direction: column;
  border: 1px solid #E5E5E5;
}

.Cards {
  margin: 10px;
  display: flex;
}